* {
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
overflow: hidden;
}

li {
list-style-type: none;
}

textarea {
width: 100%;
height: 100%;
}

.form-horizontal .control-label {
padding-right: 15px;
}